.App {
  text-align: center;
}
.modal{
  z-index: 999999;
}
.table-relative-left {
  left: 12px;
}
/* .ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
} */